@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  a {
    @apply text-blue-500 hover:underline;
  }

  .gold {
    @apply text-yellow-400 font-black;
  }

  .silver {
    @apply text-gray-300 font-black;
  }
  
  .bronze {
    @apply text-yellow-600 font-black;
  }
}

/* tailwind doesnt have text shadow so i have to do it vanilla */

/*.gold, .silver, .bronze {
  @apply ;
}*/

/* seriosly??? you cant even center a div in tailwind */
.my-center-x {
  left: 50%;
  transform: translateX(-50%);
}

.my-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.my-center-xy {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* just can't do this with tailwind :( */
/* pretty ugly solution but it works */

.header:hover .navbar {
  max-height: 10rem; /* will never be this big */
}

.header:not(:hover) .navbar {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

