<div class="header bg-white fixed w-full top-0 shadow-md z-10">
  <h1 class="py-3 w-full text-center text-3xl md:text-4xl md:text-5xl font-mono">mircea.rebengiuc.com</h1>
  <hr class="w-full">
  <div class="navbar w-full transition-all duration-300 overflow-hidden flex flex-row justify-between px-8 py-2 bg-gray-200">
    <div class="w-full sm:w-auto flex flex-row justify-between sm:justify-start sm:gap-x-2">
      <a href="/">Home</a>
      <a href="/projects/">Projects</a>
    </div>
    <span class="float-right hidden sm:inline">Mircea Rebengiuc</span>
  </div>
</div>
<div class="w-0 mt-24 md:mt-28"></div> <!-- to control margin for header -->
