<template id="header">
  <div class="header bg-white fixed w-full top-0 shadow-md z-10">
    <h1 class="py-3 w-full text-center text-3xl md:text-4xl md:text-5xl font-mono">mircea.rebengiuc.com</h1>
    <div class="navbar w-full transition-all duration-300 overflow-hidden flex flex-row justify-between px-8 py-2 bg-gray-200">
      <div class="w-full sm:w-auto flex flex-row justify-between sm:justify-start sm:gap-x-2">
        <a href="/">Home</a>
        <a href="/projects/">Projects</a>
      </div>
      <span class="float-right hidden sm:inline">Mircea Rebengiuc</span>
    </div>
  </div>
  <div class="w-0 mt-24 md:mt-28"></div> <!-- to control margin for header -->
</template>

<template id="footer">
  <div class="w-full py-2 px-4 flex flex-row justify-between bg-gray-200">
    <span>Made with <span class="text-red-500">love</span> <span class="opacity-30 line-through">(and <span class="text-green-500">money</span>)</span></span>
    <a href="https://github.com/mircea007/mircea.rebengiuc.com" class="font-mono text-black opacity-30">v1.2.0</a>
  </div>
</template>

<template id="meta">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/img/dude.png" />
</template>

<template id="non-resp-card">
  <div class="flex flex-col shadow-md rounded-xl text-lg overflow-hidden">
    <div class="flex-shrink-0">
      <img class="h-48 w-full object-cover" src="__img-url__" />
    </div>
    <div class="w-full h-2 bg-gradient-to-r from-blue-500 to-indigo-800"></div>
    <div class="bg-white p-5">
      __content__
    </div>
  </div>
</template>

<template id="plain-card">
  <div class="flex-grow flex flex-col shadow-md rounded-xl overflow-hidden text-lg bg-white p-5">
    __content__
  </div>
</template>

<template id="row">
  <div class="flex flex-col xl:flex-row mx-8 my-8 gap-4">
    __content__
  </div>
</template>

<template id="resp-card-left">
  <div class="flex flex-col md:flex-row shadow-md rounded-xl overflow-hidden text-lg mx-8 my-8 relative">
    <div class="flex-shrink-0 md:absolute md:inset-y-0">
      <img class="h-48 w-full md:h-full md:w-48 lg:w-96 object-cover" src="__img-url__" />
    </div>
    <div class="flex-shrink-0 w-full h-2 bg-gradient-to-r md:bg-gradient-to-b md:w-2 md:h-full md:ml-48 lg:ml-96 from-blue-500 to-indigo-800"></div>
    <div class="bg-white p-5">
      __content__
    </div>
  </div>
</template>

<template id="resp-card-right">
  <div class="flex flex-col md:flex-row-reverse shadow-md rounded-xl overflow-hidden text-lg mx-8 my-8 relative">
    <div class="flex-shrink-0 md:absolute md:inset-y-0">
      <img class="h-48 w-full md:h-full md:w-48 lg:w-96 object-cover" src="__img-url__" />
    </div>
    <div class="flex-shrink-0 w-full h-2 bg-gradient-to-r md:bg-gradient-to-b md:w-2 md:h-full md:mr-48 lg:mr-96 from-blue-500 to-indigo-800"></div>
    <div class="bg-white p-5">
      __content__
    </div>
  </div>
</template>
